@using ServerAppNetworkForPhotographers.Models.Lists;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moments</title>
    <link rel="shortcut icon" href="~/images/camera.png" type="image/png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UserClientAppNetworkForPhotographers.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a id="title" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="ico-logo" src="~/image/camera.png">Moments
                </a>
            </div>
        </nav>

    </header>

    <div id="divMain">
        <div id="divMenu" class="border-end box-shadow">
            <div id="menuVertical">

                @if (User.IsInRole(UserRoles.User))
                {
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Privacy">
                                <div class="img_n"><img src="~/image/menu/profile.png"></div><span>Профиль</span>
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Home" asp-action="Index">
                                <div class="img_n"><img src="~/image/menu/home.png"></div><span>Главная</span>
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Home" asp-action="Privacy">
                                <div class="img_n"><img src="~/image/menu/search.png"></div><span>Поиск</span>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="img_n">
                                    <img src="~/image/menu/addContent.png">
                                </div><span>Добавить</span>
                            </a>
                            <ul>
                                <li><a asp-controller="Home" asp-action="Privacy">Пост</a></li>
                                <li><a asp-controller="Home" asp-action="Privacy">Блог</a></li>
                            </ul>
                        </li>

                        <li>
                            <a asp-controller="Home" asp-action="Index">
                                <div class="img_n"><img src="~/image/menu/favourite.png"></div><span>Избранное</span>
                            </a>
                        </li>

                        <li><a href="#"><hr></a></li>

                        <li>
                            <a asp-controller="Settings" asp-action="Index">
                                <div class="img_n"><img src="~/image/menu/settings.png"></div><span>Настройки</span>
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Account" asp-action="Logout">
                                <div class="img_n"><img src="~/image/menu/exit.png"></div><span>Выход</span>
                            </a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul>
                        <li>
                            <a asp-controller="Account" asp-action="Login">
                                <div class="img_n"><img src="~/image/menu/login.png"></div><span>Авторизация</span>
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Account" asp-action="Register">
                                <div class="img_n"><img src="~/image/menu/register.png"></div><span>Регистрация</span>
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </div>


        <div id="mainPart">
            <div class="container p-3 mt-5 pt-4">
                @RenderBody()
            </div>
        </div>
    </div>


    @*    <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - UserClientAppNetworkForPhotographers - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
