@model UserClientAppNetworkForPhotographers.Models.Data.Dtos.Contents.CreateContentPostDto

<div class="container p-3 mt-5 pb-5 pt-4">

    <div class="containerParentFlexCenter">
        <h3>Добавление поста</h3>
    </div>

    <div class="containerParentFlexCenter mt-4">
        <div class="containerCenter">

            <div class="mb-3">
                <p><strong id="emptyPhotos">Добавьте не менее одного фото</strong></p>
            </div>

            <div class="border-top border-bottom border-2 p-2">
                <div id="carouselControls" class="carousel carousel-dark slide" data-bs-touch="false" data-bs-interval="false">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div id="photos0" class="createPhotoSlider">
                                <input id="photos0Input" type="file" accept="image/*"
                                       name="photos" class="form-control form-control-sm" />
                            </div>

                            <div id="photos0Ready" style="display:none">
                                <img class="photoSliderMini">
                            </div>
                        </div>

                        @for (var i = 1; i < 5; i++)
                        {
                            <div class="carousel-item">
                                <div id="photos@(i)" class="createPhotoSlider">
                                    <input id="photos@(i)Input" type="file" accept="image/*"
                                           name="photos" class="form-control form-control-sm" />
                                </div>

                                <div id="photos@(i)Ready" style="display:none">
                                    <img class="photoSliderMini">
                                </div>
                            </div>
                        }
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Предыдущий</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
            <div class="border-bottom border-2 p-2">
                <p class="text-danger">Размер фото - не более 20 Мбайт</p>
            </div>


            <div class="mt-5 mb-3">
                <p><strong>Добавьте описание</strong></p>
            </div>

            <div class="form-group">
                <textarea id="inputContentTitle" type="text" class="form-control" rows="8"
                          minlength="4" maxlength="512" required></textarea>
            </div>


            <div class="mt-5 mb-3">
                <p><strong id="emptyCategories">Добавьте не менее одной категории</strong></p>
            </div>

            <div id="categoriesCreateContent" class="mb-3">
                @(await Html.PartialAsync("~/Views/ContentsList/CategoriesList.cshtml", Model.CategoryDirs))
            </div>


            <div class="mt-5">
                <button class="btn btn-outline-dark" onclick="createPost()">Сохранить</button>
            </div>
        </div>
    </div>
</div>

@(await Html.PartialAsync("~/Views/Contents/CreatePhotoInfo.cshtml"))

<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
<script src="~/js/createPost.js" asp-append-version="true"></script>
<script>
    initCreateContent(@(Model.PhotographerId));
</script>