<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Moments</title>
    <link rel="shortcut icon" href="~/image/camera.png" type="image/png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/js/server.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a id="title" class="navbar-brand pe-3" asp-area="" asp-controller="Complaints" asp-action="Index">
                    <img class="ico-logo" src="~/image/camera.png">Moments
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Переключатель навигации">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">

                    @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Employee))
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Complaints" asp-action="Index">Жалобы</a>
                            </li>

                            @if (User.IsInRole(UserRoles.Admin))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Компоненты
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" asp-controller="ComplaintsBase" asp-action="Index">Базовые жалобы</a></li>
                                        <li><a class="dropdown-item" asp-controller="Categories" asp-action="Index">Категории</a></li>
                                        <li><a class="dropdown-item" asp-controller="Employees" asp-action="Index">Сотрудники</a></li>
                                    </ul>
                                </li>
                            }
                        </ul>

                        <ul class="nav navbar-nav ms-auto pe-4">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Profiles" asp-action="Index">Профиль</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Logout">Выйти</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav ms-auto pe-4">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">Авторизация</a>
                            </li>
                        </ul>
                    }

                </div>

            </div>
        </nav>
    </header>


    <div class="mt-5 pt-1">
        @RenderBody()
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
