@model EmployeeClientAppNetworkForPhotographers.Exceptions.ApiException

<div class="container pt-4 pb-5">

    <div class="containerParentFlexCenter">
        <div class="containerCenterMini">

            <h3>Server Error</h3>
            <hr />

            <p><strong>Status: </strong>@Model.Status</p>
            <p><strong>Message: </strong>@Model.Message</p>

        </div>
    </div>

</div>
