@model IEnumerable<EmployeeClientAppNetworkForPhotographers.Models.Data.Dtos.CategoryDirs.GetCategoryDirDto>

<div class="container pt-4 pb-5">

    <div class="containerParentFlexCenter">
        <h3>Категории</h3>
    </div>

    <div class="mt-4 pb-1">
        <a class="btn btn-outline-success" asp-controller="Categories" asp-action="Create">Добавить</a>
        <a class="btn btn-outline-success ms-2" asp-controller="Categories" asp-action="CreateDir">Добавить папку</a>
    </div>

    <div class="accordion mt-4" id="accordionCategories">

        @foreach (var categoryDir in Model)
        {
            <div class="accordion-item">

                <div class="containerHeaderAccordion">
                    <h2 class="accordion-header containerHeaderAccordionBlock1" id="heading@(categoryDir.Id)">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse@(categoryDir.Id)" aria-expanded="false" aria-controls="collapse@(categoryDir.Id)">
                            @(categoryDir.Name)
                        </button>
                    </h2>

                    <div class="containerHeaderAccordionBlock2">
                        <a asp-controller="Categories" asp-action="UpdateDir" asp-route-id=@(categoryDir.Id)
                           class="btn btn-outline-dark">
                            Изменить
                        </a>
                        <a asp-controller="Categories" asp-action="DeleteDir" asp-route-id=@(categoryDir.Id)
                           class="btn btn-outline-danger ms-2 me-3">
                            Удалить
                        </a>
                    </div>
                </div>

                <div id="collapse@(categoryDir.Id)" class="accordion-collapse collapse"
                     aria-labelledby="heading@(categoryDir.Id)" data-bs-parent="#accordionCategories">

                    <div class="accordion-body">
                        @for (var i = 0; i < categoryDir.Categories.Count; i++)
                        {
                            @if(i == 0)
                            {
                                <div class="containerParentFlex pb-2 ps-2">
                                    <div style="align-self: center">@(categoryDir.Categories[i].Name)</div>

                                    <div class="divFlexEnd">
                                        <a asp-controller="Categories" asp-action="Update" asp-route-id=@(categoryDir.Categories[i].Id)
                                           class="btn btn-outline-dark">
                                            Изменить
                                        </a>
                                        <a asp-controller="Categories" asp-action="Delete" asp-route-id=@(categoryDir.Categories[i].Id)
                                           class="btn btn-outline-danger ms-2">
                                            Удалить
                                        </a>
                                    </div>
                                </div>
                            }
                            else if (i == (categoryDir.Categories.Count - 1))
                            {
                                <div class="containerParentFlex border-top pt-2 ps-2">
                                    <div style="align-self: center">@(categoryDir.Categories[i].Name)</div>

                                    <div class="divFlexEnd">
                                        <a asp-controller="Categories" asp-action="Update" asp-route-id=@(categoryDir.Categories[i].Id)
                                           class="btn btn-outline-dark">
                                            Изменить
                                        </a>
                                        <a asp-controller="Categories" asp-action="Delete" asp-route-id=@(categoryDir.Categories[i].Id)
                                           class="btn btn-outline-danger ms-2">
                                            Удалить
                                        </a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="containerParentFlex border-top pt-2 pb-2 ps-2">
                                    <div style="align-self: center">@(categoryDir.Categories[i].Name)</div>

                                    <div class="divFlexEnd">
                                        <a asp-controller="Categories" asp-action="Update" asp-route-id=@(categoryDir.Categories[i].Id)
                                           class="btn btn-outline-dark">
                                            Изменить
                                        </a>
                                        <a asp-controller="Categories" asp-action="Delete" asp-route-id=@(categoryDir.Categories[i].Id)
                                           class="btn btn-outline-danger ms-2">
                                            Удалить
                                        </a>
                                    </div>
                                </div>
                            }
                    }
                    </div>

                </div>
            </div>
        }
    </div>

</div>
