* {
    overflow-wrap: anywhere;
}

html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

h1, h2, h3, h4, h5 {
    text-shadow: 0.2px 0px 0.2px #222;
}

p {
    margin: 0;
}

a:active,
a:hover,
a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.listError ul {
    padding: 0;
    list-style: none;
}



.containerParentFlex {
    display: flex;
}


.containerParentFlexCenter {
    display: flex;
    justify-content: center;
}

.containerCenterMini {
    width: 500px;
}

.containerCenter {
    width: 1000px;
}


.containerParentFlexMany {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.divForPhoto {
    margin-right: 20px;
}

.divAfterPhoto {
}

@media (max-width: 576px) {
    .divAfterPhoto {
        margin-top: 20px;
    }
}


.profilePhoto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #222;
}

.profilePhotoMini {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #222;
}


.btnImg {
    border: none;
    background: transparent;
}



/* ===== CONTENT ===== */

.sliderContainer {
    background: #222222;
}

.photoSlider {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: contain;
}

@media (max-width: 1152px) {
    .photoSlider {
        height: 400px;
    }
}

@media (max-width: 768px) {
    .photoSlider {
        height: 300px;
    }
}

.contentImg {
    width: 40px;
    height: 40px;
}

.textDate {
    font-size: 14px;
}

#divDown {
    display: flex;
    position: sticky;
    bottom: 30px;
}

#btnDown {
    margin-left: auto;
}

.imgDown {
    width: 35px;
    height: 35px;
    padding: 2px;
    border: 1px solid #EB4C42;
}

.divComment {
    border-top: 1px solid #DEE2E6;
    margin-right: 4rem;
}

.textComment {
}

.divDeleteComment {
    margin-left: auto;
}

.deleteCommentImg {
    width: 20px;
    height: 20px;
}


/* ===== SETTINGS ===== */

.profilePhotoSettings {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #222;
}

#menuSettings ul {
    display: block;
    height: auto;
    list-style: none;
}

    #menuSettings ul li {
        transition: .3s;
    }

        #menuSettings ul li:hover {
            margin-left: 10px;
            transition: .3s;
        }

        #menuSettings ul li a {
            font-weight: 400;
            color: #000;
            padding: 10px 15px;
            text-decoration: none;
            text-shadow: 0.1px 0px 0.1px #222;
        }

.imgBlock {
    display: inline-block;
    border: 1px solid #EB4C42;
    margin-right: 10px;
    box-shadow: 0.7px 0.7px 2px #222;
}

    .imgBlock img {
        height: 40px;
        padding: 2px;
    }



/* ===== MENU ===== */

#title {
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 1px 1px 2px #222;
}



#mainPart {
    padding-left: 200px;
}

#divMenu {
    width: 200px;
    min-height: 100vh;
    position: fixed;
}

@media screen and (max-width: 992px) {
    #mainPart {
        padding-left: 59px;
    }

    #divMenu {
        width: 59px;
    }
}



.ico-logo {
    height: 35px;
    padding: 0 10px 8px 0;
}

#menuVertical {
    width: 71px;
    position: fixed;
    z-index: 5;
    top: 79px;
    transition: .3s;
    min-height: 100vh;
}

    #menuVertical ul {
        display: block;
        width: 54px;
        height: auto;
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
    }

        #menuVertical ul li {
            display: block;
            width: 175px;
            position: relative;
        }

            #menuVertical ul li a {
                position: relative;
                display: block;
                width: 198px;
                height: auto;
                box-sizing: border-box;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 400;
                color: #000;
                line-height: 2em;
                padding: 10px 15px;
                background: #fff;
                text-decoration: none;
                text-shadow: 1px 0px 1px #222;
            }



                #menuVertical ul li a:hover,
                #menuVertical ul li:hover a {
                    background: #E8E9E9;
                    color: #000;
                }

            #menuVertical ul li ul {
                position: absolute;
                top: 0px;
                left: 198px;
                display: none;
                width: auto;
            }

            #menuVertical ul li:hover ul {
                display: block;
            }

            #menuVertical ul li ul li a {
                white-space: nowrap;
                text-transform: none;
                padding: 10px 20px;
                width: 153px;
            }

                #menuVertical ul li ul li a:hover {
                    background: #D3D3D4;
                    color: #000;
                }

.menu {
    position: absolute;
    width: 198px;
    height: 100%;
    box-shadow: 1px 2px 3px #888;
    position: fixed;
    top: 79px;
    z-index: 3;
}

.img_n {
    transition: .3s;
}

    .img_n:hover {
        margin-left: 5px;
        transition: .3s;
    }

@media screen and (max-width: 992px) {
    .menu {
        width: 57px;
        transition: .3s;
    }

    #menuVertical ul li a {
        width: 57px;
        transition: .3s;
    }

    #menuVertical ul li {
        width: 57px;
    }

        #menuVertical ul li ul li a {
            left: -141px;
        }

    #menuVertical span {
        display: none;
    }

    .img_n img {
        height: 40px;
        margin-left: -7px;
        margin-top: 9px;
    }
}

@media screen and (min-width: 992px) {
    .img_n img {
        display: none;
    }
}
