@model EmployeeClientAppNetworkForPhotographers.Models.Data.ComplaintBase

<div class="container pt-4 pb-5">

    <div class="containerParentFlexCenter">
        <div class="containerCenterMini">

            <h3>Удаление базовой жалобы</h3>
            <hr />

            @{
                if (ViewBag.CheckComplaints)
                {
                    <p class="text-danger mb-3">Нельзя удалить базовую жалобу, так как за ней закреплены жалобы</p>
                }
            }

            <dl>
                <dt>@Html.DisplayNameFor(model => model.Name)</dt>
                <dd>@Html.DisplayFor(model => model.Name)</dd>
            </dl>

            @if (ViewBag.CheckComplaints)
            {
                <div>
                    <a class="btn btn-outline-secondary" asp-controller="ComplaintsBase" asp-action="Index">К списку</a>
                </div>
            }
            else
            {
                @using (Html.BeginForm("Delete", "ComplaintsBase", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.Id)

                    <div>
                        <input type="submit" value="Удалить" class="btn btn-outline-danger" />
                        <a class="btn btn-outline-secondary ms-2" asp-controller="ComplaintsBase" asp-action="Index">К списку</a>
                    </div>
                }
            }

        </div>
    </div>

</div>
