<!-- Modal window for photographers who have put a like -->
<div id="modalAllLikes" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div id="modalAllLikesHeader" class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div id="modalAllLikesBody" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal window for deleting content -->
<div id="modalDeleteContent" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Удаление контента</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <p>Вы уверены что хотите удалить дынный контент?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Отмена</button>
                <a id="btnDeleteContent" href="#" type="button" class="btn btn-outline-danger">Удалить</a>
            </div>
        </div>
    </div>
</div>


<!-- Modal window for creating complaint -->
<div id="modalCreateComplaint" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Отправка жалобы</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <p class="mb-2">Что именно вам кажется недопустимым в данном контенте?</p>

                <div id="divComplaints"></div>

                <div class="mt-3">
                    <textarea id="textComplaint" type="text" class="form-control" rows="4"
                              placeholder="Напишите подробнее..." minlength="16" maxlength="512"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-outline-danger" onclick="createComplaint()">
                    Отправить
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal window for blocked content -->
<div class="modal fade" id="modalBlocked" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="staticBackdropLabel">Блокировка</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <p>Данный контент заблокирован за нарушение правил</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal window for photo info -->
<div id="modalPhotoInfo" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Информация о фото</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>

            <div class="modal-body">
                <div class="p-1">
                    <strong>Ширина: </strong>
                    <span id="spanWidth"></span>
                </div>

                <div class="p-1">
                    <strong>Высота: </strong>
                    <span id="spanHeight"></span>
                </div>

                <div class="p-1">
                    <strong>Камера изготовитель: </strong>
                    <span id="spanMake"></span>
                </div>

                <div class="p-1">
                    <strong>Камера модель: </strong>
                    <span id="spanModel"></span>
                </div>

                <div class="p-1">
                    <strong>Разрешение по горизонтали: </strong>
                    <span id="spanXResolution"></span>
                </div>

                <div class="p-1">
                    <strong>Разрешение по вертикали: </strong>
                    <span id="spanYResolution"></span>
                </div>

                <div class="p-1">
                    <strong>Диафрагма: </strong>
                    <span id="spanApertureValue"></span>
                </div>

                <div class="p-1">
                    <strong>Скорость ISO: </strong>
                    <span id="spanISOSpeedRatings"></span>
                </div>

                <div class="p-1">
                    <strong>Диафрагма: </strong>
                    <span id="spanFocalLength"></span>
                </div>

                <div class="p-1">
                    <strong>Фокусное расстояние экв. 35 мм: </strong>
                    <span id="spanFocalLengthIn35mmFilm"></span>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal window for big photo -->
<div id="modalBigPhoto" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body containerParentFlexCenter">
                <img id="modalBigPhotoImg" src="#" class="modalPhotoBig" />
            </div>
        </div>
    </div>
</div>