@model UserClientAppNetworkForPhotographers.Models.Data.Dtos.Photographers.GetPhotographerForProfileDto

<div class="container p-3 mt-5 pt-4">

    <div class="containerParentFlexCenter">
        <div class="containerCenter">

            <div class="containerParentFlexMany mt-2">
                @if (Model.PhotoProfile == null)
                {
                    <div class="divForPhoto"><img class="profilePhotoAdaptive" src="~/image/emptyProfile.png"></div>
                }
                else
                {
                    <div class="divForPhoto">
                        <img class="profilePhotoAdaptive" src=@(Url.Action("GetPhotographerPhoto", "Common", new { name = Model.PhotoProfile}))>
                    </div>
                }

                <div>
                    <h4>@(Model.Username)</h4>
                    <p>@(Model.Name)</p>
                </div>
            </div>

        </div>
    </div>

    @(await Html.PartialAsync("~/Views/Profiles/ProfileCommon.cshtml", Model))
</div>
