@model UserClientAppNetworkForPhotographers.Models.Data.Photographer

<div class="container p-3 mt-5 pb-5 pt-4">

    <h1>Profile</h1>

    <p><strong>Id: </strong>@Model.Id</p>
    <p><strong>Username: </strong>@Model.Username</p>

</div>